.pipeline-list {
    
}

.pipeline-list .pipeline {
    border: 1px solid #000;
}

.pipeline-list .pipeline .well {
    float: left;
    min-height: 100px;
    min-width: 120px;
    padding: 9px;
    margin-bottom: 0px;
    margin: 0px 5px;
    font-size: 9pt;
}

.pipeline-list .pipeline .well .label {
    text-align: center;
    display: block;
}

.pipeline-list .pipeline .pipeline-info {
    width: 150px !important;
    margin-right: 15px;
}

.pipeline-list .pipeline .pipeline-info .git-config {
}

.pipeline-list .pipeline .pipeline-steps {
    display: inline-block;
}

.pipeline .state-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.pipeline .state-error .label {
    background-color: #B94A48;
    color: #FFFFFF;
}

.pipeline .state-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.pipeline .state-success .label {
    background-color: #468847;
    color: #FFFFFF;
}

.pipeline .state-active {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.pipeline .state-active .label {
    background-color: #3a87ad;
    color: #FFFFFF;
}

.pipeline .state-attention {
    background-color: #fcf8e3;
    border-color: #fbeed5;
    color: #c09853;
}

.pipeline .state-attention .label {
    background-color: #c09853;
    color: #FFFFFF;
}

.pipeline .pipeline-step .pipeline-step-controls {
    
}

.pipeline .pipeline-step .pipeline-step-controls .icon-stack {
}

.pipeline .pipeline-step .pipeline-step-controls span[class^="icon-"],
.pipeline .pipeline-step .pipeline-step-controls i[class^="icon-"] {
    cursor: pointer;
}

.pipeline .pipeline-step .pipeline-step-controls .icon-stack i[class^="icon-"] {
    
}

.modal.ng-scope {
    width: 80%;
    height: 80%;
    left: 25%;
}

.modal.ng-scope .modal-body {
    height: 100%;
    max-height: none;
    white-space: pre;
}

form.login-form {
    max-width: 380px;
    margin: auto;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    
}

div.configuration {

}

div.configuration div.menu {
    border: 1px solid #000;
}

div.configuration div.main-area {
}

div.configuration div.main-area ul.build-list {
}

div.configuration div.main-area ul.build-list li div,
div.configuration div.main-area ul.pipeline-list li div {
    display: inline-block;
}
