<div class="pipeline row-fluid">
    <div class="pipeline-info well">
        <div class="label">Pipeline #{{ pipeline._id | parseId }}</div>
        <div class="git-config" ng-repeat="branch in pipeline.branches">
            <span ng-bind-html="branch.name | GitURL | GitType"></span>: <span ng-bind-html="branch.name"></span>
        </div>
    </div>
    <div class="pipeline-steps">
        <rx-pipeline-step ng-repeat="step in pipeline.steps" pipeline="pipeline" step='step' local-only="true"></rx-pipeline-step>
    </div>
</div>