<div class="pipeline-list">
    {{ Auth.username }}
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li ng-class="{active: getCurrentTab()=='pipelines'}"><a href="javascript:void(0)" ng-click="setTab('pipelines')">Pipelines</a></li>
            <li ng-repeat="globalStep in steps.getGlobalSteps()" ng-class="{active: globalStep.id==getCurrentTab()}">
                <a href="javascript:void(0)" ng-click="setTab(globalStep.id)">{{ globalStep.name }}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="pipeline-tab" ng-show="getCurrentTab() == 'pipelines'" ng-class="{active: getCurrentTab() == 'pipelines'}">
                <rx-pipeline ng-repeat="pipeline in pipelines.pipelineData" pipeline="pipeline"></rx-pipeline>
                <div class='no-pipelines' ng-hide="pipelines.pipelineData">
                    There are currently no active pipelines in the system.
                </div>
            </div>
            <rx-global-step ng-repeat="globalStep in steps.getGlobalSteps()" step="globalStep" current-tab="currentTab"/>
        </div>
    </div>
</div>
